### Convert an integer to a floating-point number.

In [ ]:
num = 42
float_num = float(num)
print(f'Integer: {num}, Floating-point: {float_num}')

### Convert a float to an integer.

In [ ]:
float_num = 42.8
int_num = int(float_num)
print(f'Float: {float_num}, Integer: {int_num}')

### Convert an integer to a string.

In [ ]:
num = 123
str_num = str(num)
print(f'Integer: {num}, String: "{str_num}"')

### Convert a list to a tuple.

In [ ]:
lst = [1, 2, 3, 4]
tuple_data = tuple(lst)
print(f'List: {lst}, Tuple: {tuple_data}')

### Convert a tuple to a list.

In [ ]:
tpl = (5, 6, 7, 8)
list_data = list(tpl)
print(f'Tuple: {tpl}, List: {list_data}')

### Convert a non-zero number to boolean.

In [ ]:
num = 7
bool_val = bool(num)
print(f'Number: {num}, Boolean: {bool_val}')

### Convert a decimal number to binary.

In [ ]:
decimal_num = 10
binary_str = bin(decimal_num)
print(f'Decimal: {decimal_num}, Binary: {binary_str}')